/* 
  css  modules 字面意思就是让css模块化，这样每个组件都会相对独立的使用自己的css文件。
  css modules并不是react特有的解决方法，而是webpack环境下使用
  react脚手架已经内置css modules
  优点：css文件目录清晰，不会污染别的组件
  缺点：无法动态的修改css传入的属性 
*/
.textAlignRight {
  justify-content: flex-start;
  text-align: right;
  margin-bottom: 20px;
}

.mr80 {
  margin-right: 80px;
}

.forgetPwd {
  color: #666;
  cursor: pointer;
  margin-right: 18px;
}

.forgetPwd:hover {
  text-decoration: underline;
}

.register {
  color: #0c73c2;
  line-height: 18px;
  cursor: pointer;
  transform: translate(167px, -10px);
}

.register:hover {
  text-decoration: underline;
}

.gap {
  transform: translateY(-24px);
}
